body {
    background-color: black;
    background-image: -webkit-linear-gradient(-405deg, rgb(0, 0, 0), rgb(161, 159, 159));
    background-image: linear-gradient(135deg,  rgb(0, 0, 0), rgb(161, 159, 159)); 
}

h2 {
    color: black;
}
